---
import Layout from '../layout/Layout.astro'

---
<Layout>
	<div slot="article" class="w-full flex justify-center dark:bg-violet-200 dark:text-white mt-5 mb-5">
		<h1 class=" text-4xl">Cuerpo de la pagina</h1>
	</div>
</Layout>



