---
import Header from '../componentes/Header.astro'
import Footer from '../componentes/Footer.astro'
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cmh</title>
</head>
<body>
    <div id="global" class="min-h-screen">
        <Header/>
        <slot name="article"/>
        <Footer/>
    </div>
</body>
